@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        <i class="fa-solid fa-location-dot"></i>
        Ain-Naadja City<br />
        Belle Vue, ALG elo13-Bt07<br />
    </address>
    <i class="fa-solid fa-phone"></i>+213_549.16.24.41
    <address>
        <i class="fa-solid fa-envelope"></i> <strong> :</strong>   <a href="mailto:Benraouf33@gmail.com">Benraouf33@gmail.com</a><br />
        <i class="fa-solid fa-message"></i> <strong> :</strong> <a href="mailto:Snowdenhk93@gmail.com">Snowdenhk93@gmail.com</a><br />
        <i class="fa-brands fa-github"></i> <strong> :</strong> <a href="https://github.com/Benraouf93">Benraouf93</a><br />
        <i class="fa-brands fa-instagram"></i> <strong> :</strong> <a href="https://www.instagram.com/benyahia__raouf/">benyahia__raouf</a>
    </address>
</main>